@using Sitecore.MAUI.RenderingEngine.Service
@using Sitecore.MAUI.RazorClassClient.Shared.Components.Fields;
@{
    var r = "";
}

@if (Model != null)
{
    <!-- Navigation-->
    

    <SCLink scmodel="@Model.Link" customText="@Model.DisplayName.value">       
        
    </SCLink>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

     <ul class="navbar-nav">
            @foreach (var nav in Model.Elements)
            {
                <li class="nav-item">
                    @if (nav.fields.Elements.Any())
                    {
                    <li class="nav-item dropdown">
                        <SCLink  scmodel="@nav.fields.Link" customText="@nav.displayName">
                           
                        </SCLink>
                        <ul class="dropdown-menu">
                                @foreach (var innerNav in nav.fields.Elements)
                                {
                                <SCLink  scmodel="@innerNav.fields.Link" customText="@innerNav.displayName">
                                    
                                </SCLink>
                                }
                        </ul>
                    </li>
                    }
                    else
                    {
                    <SCLink  scmodel="@nav.fields.Link" customText="@nav.displayName">
                       
                    </SCLink>
                    }
                </li>
            }
        </ul>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
       
    </div>
}


