@using SitecoreMAUI.RazorClassClient.Shared.Components.Fields;


@if (Model != null)
{
    <!-- Icon cards-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <hr class="divider" />
            <h2 class="text-center mt-0"><sc-text asp-for="@Model.CardTitle"></sc-text></h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                @foreach (var card in Model.Elements)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="mt-5 card" style="width: 18rem;">
                            <SCImage customClass="card-img-top img-fluid rounded" scmodel="@card.fields.CardImage"></SCImage>
                            <div class="card-body">
                                <h5 class="card-title"><SCSingleLineText scmodel="@card.fields.CardTitle"></SCSingleLineText></h5>
                                <h6 class="card-subtitle mb-2 text-muted">*</h6>
                                <p class="card-text">
                                    <SCRichText scmodel="@card.fields.CardDescription"></SCRichText>
                                </p>
                                <SCLink customClass="card-link" scmodel="@card.fields.CardLink"></SCLink>
                            </div>
                        </div>
                    </div>

                }
            </div>
             <hr class="divider" />
        </div>
          <hr class="divider" />
    </section>
}
